#MonthDisplay {
    text-align: center;
    color: white;
}

#MonthNav {
    text-align: center;
    color: white;
}

#CalendarGrid {
    margin-top: 20px;
    color: white;
}


.CalendarDate {
    border: 1px solid lightgrey;
    padding: 10px;
}